<mat-card>
  <mat-card-header>
    <mat-card-title style="font-size: 20px">Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <mat-form-field>
          <input matInput type="email" formControlName="email" required>
        </mat-form-field>
      </div>
      <div class="form-group row">
        <mat-form-field>
          <input matInput type="password" class="form-control" formControlName="password" required>
        </mat-form-field>
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
      </div>
      <button mat-raised-button color="primary" type="submit" (click)="tryRegister(registerForm.value)">Register</button>
    </form>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <button type="button" mat-raised-button color="warn" (click)="tryGoogleLogin()">Register with Google</button>
      </div>
    </div>
    <div class="row">
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </mat-card-content>
</mat-card>
