<mat-toolbar id="toolbar" color="primary" layout="row" layout-sm="column" layout-align="end center"
             layout-wrap>
  <a id="title" mat-button [routerLink]="['/comments']">Sfeir Comment</a>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="currentUser">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
