<h2 mat-dialog-title>Modifier le commentaire</h2>
<mat-dialog-content>
  <form [formGroup]="editCommentForm">
    <div class="form-group row">
      <mat-form-field>
        <input matInput type="text" placeholder="Titre" class="form-control" formControlName="title" required>
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field>
        <textarea matInput placeholder="Contenu" class="form-control" formControlName="content" required></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-raised-button color="primary" type="submit" (click)="saveComment()" [disabled]="!editCommentForm.valid">Modifier</button>
</mat-dialog-actions>
