.header-image {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/test-comment-2acc0.appspot.com/o/profile-image%2Fdefault_medium_avatar-57d58da4fc778fbd688dcbc4cbc47e14ac79839a9801187e42a796cbd6569847.png?alt=media&token=860895cc-84b4-4266-b239-bb13f255f243");
}

.row{
  margin-top: 100px;
}

.logout {
  margin-top: 20px;
}

.error{
  color: red;
}

.success{
  color: green;
}

mat-card {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}




