<mat-card>
  <mat-card-content>
    <firebase-ui></firebase-ui>
    <div class="row">
      <button style="max-width: 100%" (click)="tryGoogleLogin()"
              class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-google firebaseui-id-idp-button"
              data-provider-id="google.com"
              data-upgraded=",MaterialButton">
        <div id="login-button-google-container" class="firebaseui-idp-google">
          <span class="firebaseui-idp-icon-wrapper">
            <img class="firebaseui-idp-icon" alt=""
                 src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"></span>
          <span class="firebaseui-idp-text firebaseui-idp-text-long">Sign in with Google</span>
          <span class="firebaseui-idp-text firebaseui-idp-text-short">Google</span>
          </div>
      </button>

    </div>
  </mat-card-content>
</mat-card>
