/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #ececec;
}
.mat-card {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.mat-card-content {
  white-space: pre
}

.mat-snack-bar-container {
  height: 10vh;
}
