/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif !important;
  background: #ececec;
}

.fonts-loaded body {
  font-family: 'Roboto', sans-serif !important;
}
.mat-card {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.mat-card-content {
  white-space: pre
}

